.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-color: hsl(217, 53%, 94%);
  gap: 10px;
  background-image: url(../../assets/images/Register-pic.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.login-form {
  background-color: hsl(217, 53%, 94%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 450px;
}

.login-button {
  display: block;
  width: 100%;
  padding: 10px;
  background: linear-gradient(174deg, hsl(136, 81%, 49%), hsl(192, 95%, 32%));

  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
.login-button:hover {
  background: linear-gradient(174deg, hsl(136, 92%, 46%), hsl(192, 92%, 42%));
}

.login-form h3 {
  margin-bottom: 20px;
  font-size: 20px;
  color: #333;
}

.text h4 {
  margin: 0;
  font-size: 18px;
  color: #666;
}

.p {
  margin: 20px 0;
  font-size: 14px;
  color: #888;
}

.login-form p {
  margin-top: 20px;
  font-size: 14px;
  color: #888;
}

.login-form p a {
  padding-top: 80px;
  color: #4285f4;
  text-decoration: none;
}

.success-div {
  padding: 15px;
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: hsl(217, 53%, 94%);
}

.success-div h4 {
  font-size: 20px;
  font-family: "Courier New", Courier, monospace;
}

.success-msg {
  background: linear-gradient(174deg, hsl(136, 92%, 60%), hsl(192, 76%, 49%));
  width: 350px;
  padding: 10px;
  border-radius: 5px;
}

.success-btn {
  width: 200px;
  padding: 10px;
  background: linear-gradient(174deg, hsl(136, 81%, 49%), hsl(192, 95%, 32%));
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.success-btn:hover {
  background: linear-gradient(174deg, hsl(136, 92%, 46%), hsl(192, 92%, 42%));
}
