.about-content {
  background: hsl(0, 0%, 98%);
  height: 100vh;
  padding: 14px;
  margin: 20px;
}

.about-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-text h1 {
  padding-bottom: 20px;
  font-size: 3rem;
  font-family: sans-serif;
}

.about-list ul li img {
  width: 80px;
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;
  background-color: hsl(217, 53%, 94%);
  box-shadow: 0 6px 2px rgba(56, 125, 255, 0.17);
  border-radius: 10px;
  padding: 7px;
  padding-bottom: 20px;
  margin: 10px;
  transition: all 400ms ease;
}

.about-text p {
  font-size: 20px;
  font-family: sans-serif;
  padding-bottom: 20px;
  font-weight: 100;
}

.text-bold {
  font-weight: bold;
}

.about-list ul {
  display: flex;
  list-style: none;
  text-align: center;
  align-items: center;
  gap: 30px;
}

@media screen and (max-width: 950px) {
  .about-content {
    height: auto;
  }
  .about-list ul {
    flex-direction: column;
  }
}
